<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <img class="imgvino" src="https://cdn-icons-png.flaticon.com/512/850/850207.png" alt="vino icono" title="vino icono" class="loaded">
    <a class="navbar-brand navtitulo" href="/principal">Dein Wein</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/principal">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vinos">Vinos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>